node_modules/
coverage/
logs/
drizzle/
*.min.js
*.bundle.js
dist/
build/
package-lock.json
drizzle.lock
yarn.lock
.pnp.*
.cache/
.vscode/
.env
.env.local
.env.*.local
.idea/
*.log
*.tsbuildinfo
*.swp
.DS_Store
*.pem
*.key
*.crt
